
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Faculty+Glyphic&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sankofa+Display&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;
    font-style: normal;

}
body{
    height: 100vh;
    width: 100%;
}


/* TOPPER HEADER  */
.top {
    background-color: black;
    color :white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 3; 
}
.top h3 {
    font-weight: 500;
    font-size: 16px !important;
    letter-spacing: 3px;
}

.top h3 i {
    font-size: 18px;
    font-weight: 900;
}

/* PAGE UPPER TOP HEADER */
.upper-page {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    align-items: self-start;
}

.upper-page div {
    width:400px ;
    margin: 30px;  
    padding: 5px;
}
.upper-page div h2 {
    font-size: 11px;
    margin: 10px 0;
}

.upper-page div p {
    font-size: 10px;
    line-height: 20px;
    margin: 10px 0;
}

.upper-page div a {
    font-size: 12px;
    color : black;
    transition: all .3s;
}
.upper-page div a:hover {
    background-color: black;
    color : white;
    text-decoration: none;
}

.cross {
    margin: 20px;
    display: flex;
    flex-direction:column; 
    flex-wrap: nowrap;
    align-items: end;
}
 
.cross i {
    padding: 10px;
    border: 1px solid black;
    font-size: 15px ;
    font-weight: 800;
    color :black
}

#header-upper{
    /* transform: translateY(-900px); */
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.header-upper {
    animation: move .5s linear forwards ;

}
.heaer-downer{
    animation: moveRverse .5s linear forwards
}

@keyframes move {
    0%{
      
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(-10px);  

    }
}

@keyframes moveRverse {  
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-1000px);
        display: none;
    }
}   


/* HEADER */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    z-index: 3;  
    width: 100%;
    top: 50px;
}
.header-top {
    width: 100%;
    background-color: white;

}
.header-top ul {
    float: right;
    padding: 10px;
}
.header-top ul li{
    display: inline;
    margin-right: 20px;
    font-size: 13px;
}
.header-top ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* header-bottom */
.header-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    background-color:rgb(255, 255, 255);
    padding: 0 17px;
    padding-bottom: 13px ;
}

.header-bottom div ul li {
    display: inline;
    list-style-type: none;
    margin-right: 17px;
    font-size:13px ;
    font-weight: 700;
    position: relative;
    padding-bottom : 12px; 
    transition: all .1s;
}
.header-bottom div ul li:hover    {
  border-bottom: 3.5px solid black;
  cursor: pointer;
}

.header-bottom svg{
    width: 70px;
}

.search-header {
    display: flex;
    position: relative;
}

.header-bottom  input {
    padding: 0px 15px;
    height: 30px;
    width: 100%;
    background-color: rgb(237, 237, 237);;
    border: none;
    outline: none;
}

.search-header  i {
    font-weight: 1100;
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 23px;
}
.search-header i:hover {
    cursor: pointer;
}
.header-bottom div input::placeholder{
    font-size: 17px;
    color : rgb(0, 0, 0)
}
.search-header .bi-search{
    position: absolute;
    top : 4px;
    right: 120px;
    font-size: 18px;
    cursor:none !important;
}

.icon-list-header {
    display: none;
}

.icon-list-header i{
    font-weight: 1100;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 23px;
    
}

.meddle-header {
    background-color: rgb(237, 237, 237);
    padding: 18px;
    text-align: center;
    position: relative;
  
}
.meddle-header h3 {
    font-size:13px ;
    font-weight: 300;
}
.meddle-header i {
    position: absolute;
    right: 24px;
    top : 12px;
    font-size: 24px;
    color : gray
}

/* MEGA MENU */
.all-megaMenu{
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    top: 151px;
    width: 100%;
    z-index: 4;
}
.megaMenu {
  background-color: transparent; 
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.megaMenu div {
    border-right: 1px solid rgb(235, 235, 235);
    padding: 20px;
    height: 400px;
    width: 300px;
}
.megaMenu ul {
    display: flex;
    flex-flow : column nowrap ;
    gap: 16px;
    color : black;
    font-weight: 600;
}

.megaMenu ul li {
    list-style-type: none;
    color : rgb(85, 85, 85);
    font-weight: 300;
    font-size: 15px;
}
.megaMenu ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}


.title-megaMenu {
    display: flex;
    flex-flow:  row nowrap;
    justify-content: space-around;
    background-color: transparent; 
}
.title-megaMenu div {
    width: 300px;
    padding: 20px;

}
/* MENU */
menu {
    margin-top:  100px;
}
.menu-img {
    position: relative;
}
.menu-img img {
    width: 100%;
    object-fit:cover;
    height: 500px;
}

/* title in img menu */

.menu-img h2 {
    position: absolute;
    color : rgb(255, 255, 255);
    background-color: transparent;
    letter-spacing: 3px;
    font-size: 48px;
    font-weight: 800;
    top : 5%;
    left: 2%;
}  

.menu-img h3 {
    position: absolute;
    background-color : rgb(255, 255, 255);
    color: black;
    letter-spacing: 3px;
    font-size: 20px;
    padding: 10px;
    top : 300px;
    left : 5%
}  

.menu-img p {
    position: absolute;
    background-color : rgb(255, 255, 255);
    color: black;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight:300;
    padding: 5px;
    top : 350px;
    left : 5%
}
.menu-img ul{
    display: flex;
    flex-flow: row wrap;
    width: 45%;
    position: absolute;
    top : 390px;
    left : 4.4%
}
.menu-img ul li {
    background-color : rgb(255, 255, 255);
    margin: 10px;
    color: black;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight:600;
    padding: 10px;
    list-style-type: none;
}
.menu-img ul li:hover {
    cursor: pointer;
}
.menu-img  i{
    font-size: 15px;
    font-weight:900;
}

.button-menu{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    margin-top: 30px;
}
.button-menu-left button{
    color : black;
    background-color: white;
    border: 1px solid rgb(179, 179, 179);
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 300;
    margin: 0 3px ;
    outline: none;
    transition: border .5s;
}
.button-menu-left button:hover {
    cursor: pointer;
    border : black 1px solid
}
.button-menu-right button {
    border: none;
    outline:  none;
    background-color: transparent;
    border-bottom: 2px solid black;
    padding: 2px;
    padding-bottom: 5px;
    color : black;
    font-size: 15px;
    font-weight: 700;
}

.button-menu-right button:hover{
    cursor: pointer;
    background-color: rgb(239, 239, 239);
}

/* img sider */
.img-sider {
    background-color: blue;
    width: 250px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.img-sider img{
    width: 90%;
    margin: 10px;
}
.img-sider h3{
    padding: 5px ;
    margin-left: 7px;
    font-size: 14px;
}
.img-sider h5 {
    font-size: 12px;
    
}
/* @media screen  */
@media screen and (max-width:1200px) {
    .header-bottom {
          justify-content: space-around;
    }   
    .menu-img img {
        object-fit:cover;
        height: 400px;    
    }

    .menu-img h3 {
        top : 260px
    }
    .menu-img p {
        top : 310px
    }
    .menu-img ul {
        top : 340px
    }
}

@media screen and  (max-width : 950px) {
    /* page uppeer */
    .upper-page{
        height: 400px;
    }
    .upper-page div {
        width:400px ;
        margin: 10px 0;  

    }  

    /* header */
    .header-bottom {
          justify-content: space-between;
    }   
    .icon-list-header{
        display: inline;
    }
    .header-li{
        display: none;
    }
    .search-header input {
        display: none;
    }
    .search-header .bi-suit-heart{
        display: none;
    }
    .search-header .bi-search {
        top : 3px;
        right: 80px;
    }
    .meddle-header{
        text-align: left;
        padding: 25px;
    }
    .meddle-header i{
        top : 19px
    }
    /* menu  */
    .menu-img img {
        object-fit:fill;
        height: 100%;
        object-position: center;
    }
    .menu-img h2 {
        left: 35%;
    }

    .menu-img h3 {
        top : 500px;
        left : 10px
    }
    .menu-img p {
        top : 550px;
        left : 10px
    }
    .menu-img ul {
        top : 590px;
        left : 3px
    }

}


/* ACTIVE & DEACTIVE */
.active {
    display: "";
}
.deactive {
    display: none;
}