
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Faculty+Glyphic&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sankofa+Display&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;
    font-style: normal;
}


/* TOPPER HEADER  */
.top {
    background-color: black;
    color :white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.top h3 {
    font-weight: 500;
    font-size: 16px !important;
    letter-spacing: 3px;
}

.top h3 i {
    font-size: 18px;
    font-weight: 900;
}

/* PAGE UPPER TOP HEADER */
.upper-page {
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.upper-page div {
    width:400px ;
    margin: 30px;
    padding: 10px;
}
.upper-page div h2 {
    font-size: 11px;
    margin: 10px 0;
}

.upper-page div p {
    font-size: 10px;
    line-height: 20px;
    margin: 10px 0;
}

.upper-page div a {
    font-size: 12px;
    color : black;
    transition: all .3s;
}
.upper-page div a:hover {
    background-color: black;
    color : white;
    text-decoration: none;
}

.cross {
    margin: 0px;
    display: flex;
    flex-direction:column; 
    flex-wrap: nowrap;
    align-items: end;
}
 
.cross i {
    padding: 10px;
    border: 1px solid black;
    font-size: 15px ;
    font-weight: 800;
    color :black
}

#header-upper{
    transform: translateY(-900px);
    background-color: rgb(1, 38, 172);
    z-index: 6;
    /* padding-top: 20px; */
    padding-top: 5%;
    padding-right: 5%;
}
.header-upper {
    animation: move .5s linear forwards ;

}
.heaer-downer{
    animation: moveRverse .5s linear forwards
}

@keyframes move {
    0%{
      
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(-130px);  

    }
}

@keyframes moveRverse {  
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-1000px);
    }
}   


/* HEADER */
header {
    width: 100%;
    display: flex;
    z-index: 1;
    flex-direction: row;
    flex-wrap: wrap;
}
.header-top {
    width: 100%;
    background-color: rgb(218, 4, 4);
}
.header-top ul {
    float: right;
    padding: 10px;
}
.header-top ul li{
    display: inline;
    margin-right: 20px;
    font-size: 13px;
}
.header-top ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.active {
    display: "";
}
.deactive {
    display: none;
}